.header{
    margin-top: 20px;
    margin-bottom: 20px;
}
.header nav a{
    box-shadow: inset 0 0 0 0 #4f1e41;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 7px;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 20px ;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
nav a:hover{
    box-shadow: inset 100px 0 0 0 #173845;
    color: white;
}
nav a:focus{
    outline: none;
}
